<app-header></app-header>
<h1 style="text-align:center;border-bottom:3px solid dodgerblue;font-family:arial;color:dodgerblue">Welcome to NetElixir</h1>
<div style="text-align:center;margin-top:10%">
  <img src="assets/usericon.png" style="width:200px;height:200px;border-radius:100px;"><br/><br>
  <form (ngSubmit)="updateEmployee()" novalidate #f="ngForm">
    <div class="container">
      <div class="col-md-4"></div>
      <div class="row">
        <div class="col-md-4">
          <input type="email" placeholder="Email" name="email" [(ngModel)]="model.email" class="form-control" required/>
        </div>
        </div>
      <div class="col-md-4"></div>
      <div class="row">
        <div class="col-md-4" style="margin-top:10px;">
          <input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" class="form-control" required/>
        </div>
        </div>

      <div class="col-md-4"></div>
        <div class="row">
      <div class="col-md-4" style="text-align:left">
        <label>
            <input type="checkbox" name="admin" [(ngModel)]="model.admin"/> Admin <small class="text-primary">(Please select checkbox if you are Admin)</small>
          </label>
        </div>
          </div>

      <div class="col-md-4"></div>
        <div class="row">
        <div class="col-md-12">
          <input type="submit" value="Login" class="btn btn-primary" [disabled]="!f.form.valid"/>
          <input type="submit" value="Update" class="btn btn-primary" [disabled]="!f.form.valid"/>
        </div>
        </div>
      </div>
	</form>
</div>

